.list-book {
    max-width: 50%;
    padding: 15px;
}

ul {
    padding-left: 0px;
}


.book-img {
    width: 200px;
}

li {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}

.decription {
    min-width: 100%;
    text-align: justify;
}

.title-author {
    width: calc(100% - 200px);
    text-align: center;
}

#btn-add, .btn-edit, #btn-save, #btn-cancel {
    width: 200px;
}

#btn-save, #btn-cancel { 
    margin: 5% 10%;
}

.book-img-show {
    width: 60%;
    padding: 20px;

}

.book-show {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 40px;
}

.title-author-show {
    width: 100%;
    text-align: center;
}

p:first-child {
    font-weight: bold;
    font-size: 20px;
}

.dynamic-block {
    max-width: 50%;
}

#root {
    display: flex;
}

#form {
    height: max-content;
}

.form-edit div{
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 0px;
}

input, textarea {
    width: 600px;
}

textarea {
    height: 300px;
}

label {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

label::after {
    content: '*';
    color: red;
    vertical-align: sub;
    font-size: 20px;
}