#app-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#app-container>h1, #app-container>form {
    width: 100%;
    text-align: center;
}

#app-container>div {
    margin-top: 20px;
}

.user {
    text-align: center;
}

label {
    width: 150px;
    display: inline-block;
}

input {
    width: 200px;
}

#users {
    width: 100%;
}