.tm-main-nav  li a:hover, #about ul li h2:hover  {
    background-color: lightskyblue;
    color: #fff;
}

@keyframes tm-banner-text {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }    
}

.tm-banner-text {
    animation-duration: 3s;
    animation-name: tm-banner-text;
    text-shadow: 0px 5px 0 #76cdd7, 0px 10px RGBA(118, 205, 215, 0.7);  
    letter-spacing: 5px;
    word-spacing: 10px;
}

.tm-banner-inner {
    background: #fff;
}

#home {
    background: linear-gradient(90deg, burlywood , lightskyblue);
    box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
}

.heading div ol li a:hover:before {
    content: '>';
    color: red;
    font-weight: bold;
}

.heading div ol li a:hover {
    color: red;
    font-weight: bold;
}

.heading div ol li:nth-child(3)::after, .heading div ol li:nth-child(1)::after {
    vertical-align:super;
    content: 'new';
    color: red;
    font-weight: bold;
    
}

.heading div ol {
   list-style-type:decimal-leading-zero;
}

h2 {
    color: #76cdd7;
    text-align: center;
}

h2~p {
    text-indent: 20px;
    font-style: italic;
    line-height: 25px;
}

.box:nth-of-type(2n+2),  .box:nth-of-type(2n+2) h2 {
  background-color: lightskyblue;
  color: #fff;  
}

.box p::first-letter {
    font-weight: bold;
}

input:focus, textarea:focus {
    background-color: #20b2aa;
    color: #fff;
}

.btn {
    background-color: #fff;
    color: #20b2aa;
    border: 1px solid #20b2aa;
    border-radius: 0;
    float: right;
}

.btn:hover {
    color: #fff;
    background-color: #20b2aa;
    border: 1px solid #20b2aa;
    border-radius: 0;
}

#contact h2 {
    text-align: right;
}

input#contact_subject {
    background: url(../img/email-icon.png) no-repeat right;
    background-size: 3%
}

input#contact_subject:focus {
    background: url(../img/email-icon.png) no-repeat right, #20b2aa;
    background-size: 3%
}

section {
    position: relative;
    box-shadow: 0 0 10px rgba(61, 55, 61, 0.7);
}

section::before {
    content: '';
    position: absolute;
    right: 95.5%;
    border-style: solid;
    border-width: 50px 50px 0 0;
    border-color:  lightskyblue transparent  transparent transparent ;
}

.flex-2-col {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}


