#root {
    margin: 0 auto;
    width: 400px;
    box-shadow: 0 0 10px grey;
    border-radius: 5px;
    padding: 15px 50px;
}

#root>ul {
    padding-left: 0px;
}

ul {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

li {
    list-style: none;
}

li>div:hover, menu>li:hover {
    background-color: gainsboro;
}


.folder span {
    color: gold;
}

.file span {
    color: darkgray;
}

.menu {
    position: absolute;
    width: 100px;
    padding: 2px;
    margin: 0;
    border: 1px solid #bbb;
    background: #eee;
    z-index: 100;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.2);
    opacity: 0;
    top: 0px;
}

.menu-item {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.show-menu {
opacity: 1;
}

.disable>li:hover {
    background-color: transparent;
}

.disable>li {
    opacity: 0.5;
}

input {
    vertical-align: super;
    width: max-content;
}