$backgroundWord: #ff4e33;
$buttonColor: #e3ac00;
$linkColor: #fff;
$backgroundHeader: url(../img/m-h-night.jpg);
$fontParagraph: 'Fresca', sans-serif;
$colorMainText: #c0c3af;
$colorHeaders: #fff;
$backgroundColor: #21232e;
$backgroundBlocks: #3b3f50;
$colorLogo: (
    header: #fff,
    footer: #c0c3af
)