$backgroundWord: #14a0c7;
$buttonColor: #699900;
$linkColor: #fff;
$backgroundHeader: url(../img/m-h-day.jpg);
$fontParagraph: 'Hind', sans-serif;
$colorMainText: #c0c3af;
$colorHeaders: #2c2f3c;
$backgroundColor: #fff;
$backgroundBlocks: #21232e;
$colorLogo: (
    header: #000,
    footer: #c0c3af
)